@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

:root{
    --cor0: #111317;
    --cor1: #1f2125;
    --cor2: #35373b;;
    --cor3: #f9ac54;
    --cor4: #d79447;
    --cor5: #d1d5db;
    --cor6: #ffffff;
}


body{
    background-color: var(--cor0);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: var(--cor2);
    border-radius: 10px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, p{
    color: var(--cor6);
}

h1 strong{
    -webkit-text-stroke: 1px var(--cor6);
    color: transparent;
}

h2{
    color: var(--cor4);
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.forms label{
    color: var(--cor4);
}

input{
    width: 200px;
    border-radius: 5px;
    border: 1px solid var(--cor4);
    height: 30px;
}

.form-user input{
    width: 190px;
}

.forms p{
    font-size: 13px;
}

button{
    background-color: var(--cor3);
    color: var(--cor6);
    padding: 10px;
    padding-inline: 25px;
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color: var(--cor4);
    transition: 0.3s;
    cursor: pointer;
}

a{
    color: var(--cor4);
}

a:hover{
    color: var(--cor3);
}

.container-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.instagram, .facebook, .twitter{
    transition: 0.3s;
}

.instagram:hover{
    transform: scale(1.2);
}

.facebook:hover{
    transform: scale(1.2);
}

.twitter:hover{
    transform: scale(1.2);
}